.avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: black;
}

.ListItem {
    border-radius: 7px;
    cursor: pointer;
    &.active{
        background-color: rgba(10, 10, 10, 0.20);
    }
    &:hover{
        background-color: rgba(10, 10, 10, 0.20);
    }
}