.inputElement {
    background: #151520;
    backdrop-filter: blur(20px);
    border: 2px solid #1f2937;
    outline: none;

    &:-webkit-autofill {
        background: #151520 !important;
        -webkit-box-shadow: 0 0 0px 1000px #151520 inset !important;
        -webkit-text-fill-color: white !important;
        caret-color: white;
        transition: background-color 9999s ease-out;
    }

    &:focus {
        background: #1e1e2e;
        backdrop-filter: blur(20px);
        border: 2px solid #8b5cf6;
    }

    &::placeholder {
        color: #6b7280;
    }

    &.hasError {
        border: 2px solid #dc2626;

        &:focus {
            border-color: #dc2626;
        }
    }
}

.errorText {
    color: #dc2626;
    font-weight: 500;
}